<h1><%= @club.title %></h1>
<p><%= @club.body %></p>

<a href="/clubs/<%= @club.id %>/edit">edit</a>

<form action="/clubs/<%= @club.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE">
</form>
